.mainHome {
  display: flex;
}

.mainHome > img {
  max-width: calc((100vw - 1000px) / 4);
  object-fit: cover;
}

.spiderman {
  object-position: left;
}
.venom {
  object-position: center;
}

.videoHome {
  max-width: 1000px;
}

.container_Home {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  height: 100vh;
  background-color: black;
}

.container_Home p {
  font-size: 60px;
  color: white;
  text-align: center;
  padding-bottom: 50px;
  font-family: "Bebas Neue",sans-serif;
}
